{% extends '../admin/blank.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<!-- {% load dir %} -->
    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header text-center">Solicitudes de servicio</div>
            <div class="accordion" id="accordionExample">
                {% if req %}
                    {% for case in req %}
                        <div class="card">
                            <div style="cursor: pointer;" class="p-3" id="heading{{case.id_case}}" data-toggle="collapse" data-target="#collapse{{case.id_case}}" aria-expanded="false" aria-controls="collapse{{case.id_case}}">
                                {{case.getUser.first_name}} {{case.getUser.last_name}} - Caso #{{ case.id_case }}
                            </div>
                        
                            <div id="collapse{{case.id_case}}" class="collapse rounded-0" aria-labelledby="heading{{case.id_case}}" data-parent="#accordionExample">
                                <div class="list-group">
                                    {% for package_case in case.package.all %}
                                        <a href="{% url 'detailF01' case=case.id_case package=package_case.id_package %}" class="list-group-item list-group-item-action rounded-0 pl-4">- {{package_case.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <a class="list-group-item text-center text-muted">No se encuentran solicitudes de servicio activas</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}