{% extends '../admin/blank.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<!-- {% load dir %} -->
    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header">Solicitudes</div>
            <div class="list-group">
                {% if case %}
                    {% for i in case %}
                        <a href="{% url 'detailF01' pk=i.id_case %}" class="list-group-item list-group-item-action">Caso {{ i.id_case }}</a>
                    {% endfor %}
                {% else %}
                    <a class="list-group-item text-center text-muted">No se encuentran solicitudes activas</a>
                {% endif %}
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Casos
                {% if request.user.role == 'C' %}
                <div class="float-right">
                    <a href="{% url 'createF01' %}" data-toggle="tooltip" data-placement="top" title="Agregar Paciente" class="btn btn-sm btn-outline-primary">
                        <i class="fas fa-plus-square"></i>
                        Crear caso
                    </a>
                </div>
                {% endif %}
            </div>
            <div class="list-group">
                
            </div>
        </div>
    </div>

{% endblock %}